<!DOCTYPE html>
<html>
<title>AllAPI</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
<link rel="stylesheet" href="{{url_for('static', filename='css/pokemon.css')}}">
<body>

<!-- Sidebar -->
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:15%">
<h3 class="w3-bar-item"><a href="{{url_for('index')}}">API's</a></h3>
<a href="{{url_for('cep')}}" class="w3-bar-item w3-button">CEP</a>
<a href="{{url_for('megasena')}}" class="w3-bar-item w3-button">MEGASENA</a>
<a href="{{url_for('pokemon')}}" class="w3-bar-item w3-button">POKEMON</a>
</div>

<!-- Page Content -->
<div style="margin-left:15%">

<div class="w3-container w3-teal">
<h1>POKÉMON</h1>
</div>

<div class="w3-container">
<h2>O que é POKEAPI?</h2>
<p>Usada para consultar os pokémons e suas estatísticas como ataque, defesa, HP.</p>
<p>Site oficial do POKEAPI: <a href="https://pokeapi.co/">clique aqui</a></p>
<br>
<h2>Como funciona?</h2>
<p>JSON: https://pokeapi.co/api/v2/pokemon/{nomepoke}</p>
<p>Digitando o nome de um pokémon. Exemplo: Ditto</p>
<p>No link do json escreva assim: https://pokeapi.co/api/v2/pokemon/ditto</p>
<br>
<h2>Exemplo de código no python:</h2>
<img class="pokemon" src="/static/images/pokemon.png" alt="código em python de captura de api">
<br>
<br>
<h2>Valores do JSON</h2>
URL: https://pokeapi.co/api/v2/pokemon/ditto
<br>
<img class="resultadocep" src="/static/images/resultadopokemon.png" alt="resultado do json">
</div>
</div>
    
</body>
</html>
